<div class="tab-content" id="v-pills-tabContent" [ngStyle]="{ display: '' }">
  <div
    class="tab-pane contact-tab-0 tab-content-child fade show active"
    id="v-pills-user"
    role="tabpanel"
    aria-labelledby="v-pills-user-tab"
  >
    <div *ngIf="selectedata" class="card-body btn-group-showcase">
      <h2>{{ selectedata.title }}</h2>
      <h3>{{ selectedata.subtitle }}</h3>
      <div class="row">
        <div class="col-xl-4 col-md-6 col-sm-12" button-group-mb-sm>
          <div
            class="btn-group btn-light"
            role="group"
            aria-label="View Levels"
          >
            <button
              class="btn btn-light"
              type="button"
              [class.disabled]="abstractEnabled"
            >
              Abstract
            </button>
            <button
              class="btn btn-light"
              type="button"
              [class.disabled]="tocEnabled"
            >
              TOC
            </button>
            <button
              class="btn btn-light"
              type="button"
              [class.disabled]="manuscriptEnabled"
            >
              Manuscript
            </button>
          </div>
        </div>
      </div>
      <div>
        <textarea disabled class="form-control" id="showAbstract" rows="20">
          {{ project.abstract }}
      </textarea
        >
        <div class="col">
          <button
            class="col-6 btn btn-block btn-primary"
            (click)="piques(true)"
          >
            <i class="fa fa-thumbs-up"></i>
          </button>
          <button
            class="col-6 btn btn-block btn-secondary"
            (click)="piques(false)"
          >
            <i class="fa fa-thumbs-down"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
