<!-- *** ADD OR EDIT HTML INSIDE OF THE dmRespCol DIVS, SEE DOCUMENTATION FOR GUIDELINES *** -->
<div class="dmRespRow u_1415408454" id="1415408454">
  <div class="dmRespColsWrapper" id="1545643165">
    <div class="dmRespCol large-12 medium-12 small-12" id="1917660479">
      <!-- *** INSERT YOUR HTML BELOW *** -->
      <div
        class="u_1722028889 dmNewParagraph"
        dmle_widget="paragraph"
        data-element-type="paragraph"
        id="1722028889"
        no_space_e="true"
        data-uialign="center"
        data-version="5"
        data-styletopreserve="{">
        <h1 class="text-align-center" style="direction: ltr">
          <span style="display: initial" no_space_b="true" no_space_e="true">
            America's Got Authors
          </span>
        </h1>
      </div>
      <div
        class="dmNewParagraph"
        data-dmtmpl="true"
        data-element-type="paragraph"
        data-version="5"
        id="1959760117"
        style="transition: opacity 1s ease-in-out 0s"
        data-uialign="center">
        <p
          class="text-align-center m-size-17 size-24"
          no_space_b="true"
          no_space_e="true">
          <span
            class="font-size-24 m-font-size-17"
            style="display: initial"
            no_space_b="true"
            no_space_e="true">
            Where Readers Choose Which Authors Get Published
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
