<div class="row">
  <div class="card p-0 profile-greeting">
    <div class="card-body wadewarren">
      <div class="img-overlay">
        <h3 *ngIf="firstName" class="greeting">
          Good {{dayPart}}, {{firstName}}
        </h3>
        <h3 *ngIf="!firstName" class="greeting">Good {{dayPart}}</h3>
        <p>
          Here’s what’s happening today with the books you have reviewed.
        </p>
      </div>
      <ul class="list-unstyled confetti">
        <li><img src="assets/images/dashboard-2/ribbon1.png" alt /></li>
        <li><img src="assets/images/dashboard-2/ribbon2.png" alt /></li>
        <li><img src="assets/images/dashboard-2/ribbon1.png" alt /></li>
        <li><img src="assets/images/dashboard-2/ribbon2.png" alt /></li>
        <li><img src="assets/images/dashboard-2/ribbon1.png" alt /></li>
        <li><img src="assets/images/dashboard-2/ribbon2.png" alt /></li>
        <li><img src="assets/images/dashboard-2/ribbon3.png" alt /></li>
        <li><img src="assets/images/dashboard-2/ribbon4.png" alt /></li>
      </ul>
    </div>
  </div>
</div>