<div class="container-fluid">
  <div class="row project-cards">
    <div class="col-md-12 project-list">
      <div class="card">
        <div class="row">
          <div class="col-md-6">
            <ul class="nav nav-tabs border-tab" id="top-tab" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link"
                  [ngClass]="{ 'active show': openTab == 'All' }"
                  (click)="tabbed('All')"
                  style="cursor: pointer"><app-feather-icons
                    [icon]="'target'"></app-feather-icons>All</a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [ngClass]="{ 'active show': openTab == 'Draft' }"
                  (click)="tabbed('Draft')"
                  style="cursor: pointer"><app-feather-icons
                    [icon]="'target'"></app-feather-icons>Draft</a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [ngClass]="{ 'active show': openTab == 'Published' }"
                  (click)="tabbed('Published')"
                  style="cursor: pointer"><app-feather-icons
                    [icon]="'check-circle'"></app-feather-icons>Published</a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [ngClass]="{ 'active show': openTab == 'Parked' }"
                  (click)="tabbed('Parked')"
                  style="cursor: pointer"><app-feather-icons
                    [icon]="'info'"></app-feather-icons>Parked</a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [ngClass]="{ 'active show': openTab == 'Archived' }"
                  (click)="tabbed('Archived')"
                  style="cursor: pointer"><app-feather-icons
                    [icon]="'info'"></app-feather-icons>Archived</a>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <div class="form-group mb-0 me-0"></div>
            <a class="btn btn-primary" routerLink="/projects/create-new">
              <i data-feather="plus-square"> </i>Create New Project</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane fade show active">
              <div class="row">
                <ng-container *ngFor="let data of filterData">
                  <div class="col-xxl-4 col-lg-4 box-col-33 col-md-6">
                    <div class="project-box">
                      <span
                        class="badge"
                        [ngClass]="
                          data.status === 'Draft'
                            ? ' badge-primary'
                            : 'badge-success'
                        ">{{ data.status }}</span>
                      <h4>Project : {{ data.projectname }}</h4>
                      <h3>{{ data.title }}</h3>
                      <div class="d-flex">
                        <img
                          class="img-20 me-1 rounded-circle"
                          src="assets/images/user/3.jpg" />
                        <div class="flex-grow-1">
                          <p>{{ data.subtitle }}</p>
                        </div>
                      </div>
                      <div class="row details">
                        <div class="col-4">
                          <span>{{ data.readership }}</span>
                        </div>
                        <div class="col-4">
                          <span>{{ data.format }}</span>
                        </div>
                        <div class="col-4">
                          <span>{{ data.genre }}</span>
                        </div>
                      </div>
                      <br />
                      <div class="row details">
                        <div class="col-8">
                          <span> </span>
                        </div>
                        <div
                          class="col-4"
                          [ngClass]="
                            data.status === 'Draft'
                              ? ' font-primary'
                              : 'font-success'
                          ">
                          piQues
                        </div>
                        <div class="col-8">
                          <span>Impressions </span>
                        </div>
                        <div
                          class="col-4"
                          [ngClass]="
                            data.status === 'Draft'
                              ? ' font-primary'
                              : 'font-success'
                          ">
                          {{ data.scoreI }}
                        </div>
                        <div class="col-8">
                          <span>Title </span>
                        </div>
                        <div
                          class="col-4"
                          [ngClass]="
                            data.status === 'Draft'
                              ? ' font-primary'
                              : 'font-success'
                          ">
                          {{ data.scoreT }}
                        </div>
                        <div class="col-8"><span>Table Contents </span></div>
                        <div
                          class="col-4"
                          [ngClass]="
                            data.status === 'Draft'
                              ? ' font-primary'
                              : 'font-success'
                          ">
                          {{ data.scoreA }}
                        </div>
                        <div class="col-8"><span>Abstract </span></div>
                        <div
                          class="col-4"
                          [ngClass]="
                            data.status === 'Draft'
                              ? ' font-primary'
                              : 'font-success'
                          ">
                          {{ data.scoreA }}
                        </div>
                        <div class="col-8"><span>Manuscript </span></div>
                        <div
                          class="col-4"
                          [ngClass]="
                            data.status === 'Draft'
                              ? ' font-primary'
                              : 'font-success'
                          ">
                          {{ data.scoreM }}
                        </div>
                      </div>
                      <div class="customers">
                        <ul>
                          <li class="d-inline-block">
                            <img
                              class="img-30 rounded-circle"
                              src="assets/images/user/3.jpg" />
                          </li>
                          <li class="d-inline-block">
                            <img
                              class="img-30 rounded-circle"
                              src="assets/images/user/3.jpg" />
                          </li>
                          <li class="d-inline-block">
                            <img
                              class="img-30 rounded-circle"
                              src="assets/images/user/3.jpg" />
                          </li>
                          <li class="d-inline-block ms-2">
                            <p class="f-12">+ More</p>
                          </li>
                        </ul>
                      </div>
                      <div>
                        <br />
                        <label>Abstract :</label>
                        <a *ngIf="data.abstracturl != ''"
                          href="{{ data.abstracturl }}" target="_blank">
                          {{ data.abstracturl | truncate : 20 }}
                        </a>
                      </div>
                      <div class="project-status mt-4">
                        <div class="d-flex mb-0">
                          <p>{{ data.scoreM }}</p>
                          <div class="flex-grow-1 text-end">
                            <span>Done</span>
                          </div>
                        </div>
                        <div class="progress" style="height: 5px">
                          <div
                            class="progress-bar-animated bg-primary progress-bar-striped"
                            [ngClass]="
                              data.status === 'Draft'
                                ? ' badge-primary'
                                : 'badge-success'
                            "
                            role="progressbar"
                            [style.width]="data.scoreM"
                            aria-valuenow="10"
                            aria-valuemin="0"
                            aria-valuemax="100"></div>
                        </div>
                      </div>
                      <br />
                      <div class="row">
                        <div class="col-6">
                          <button
                            *ngIf="data.status === 'Draft'"
                            class="btn btn-lg btn-outline-primary"
                            (click)="editProject(data)">
                            Edit
                          </button>
                          <button
                            *ngIf="data.status !== 'Draft'"
                            class="btn btn-lg btn-secondary">
                            Locked
                          </button>
                        </div>
                        <div class="dropdown-basic me-0 col-6">
                          <div class="common-flex">
                            <div class="btn-group split-dropdown">
                              <button
                                class="btn btn-outline-primary"
                                type="button">
                                {{ data.status }}
                              </button>
                              <div
                                class="dropdown separated-btn"
                                ngbDropdown
                                role="group">
                                <button
                                  class="btn btn-primary"
                                  type="button"
                                  ngbDropdownToggle>
                                  <i class="icofont icofont-arrow-down"></i>
                                </button>
                                <div class="dropdown-content" ngbDropdownMenu>
                                  <a
                                    *ngFor="let item of lifeCycle[data.status]"
                                    (click)="changeStatus(data, item)"
                                    ngbDropdownItem>{{ item }}</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
