<div
  class="tab-pane fade active show"
  id="pills-personal"
  role="tabpanel"
  aria-labelledby="pills-personal-tab">
  <div class="card mb-0">
    <div class="card-header d-flex">
      <h3>Pique Titles</h3>
      <span class="f-18 pull-right mt-0"> {{ amountLeft }} piQues Left </span>
      <span class="f-18 pull-right mt-0">{{ filteredTitles.length }}
        Titles</span>
    </div>
    <div
      *ngIf="filteredTitles"
      class="card-body p-0 custom-scrollbar"
      style="height: 40rem">
      <div class="row list-persons" id="addcon">
        <div
          class="nav flex-column nav-pills"
          id="v-pills-tab"
          role="tablist"
          aria-orientation="vertical">
          <ng-container
            *ngFor="
                let data of filteredTitles
                  | slice : nextItem : nextItem + maxItems
              ">
            <div class="col-lg-12" style="margin-bottom:20px">
              <a
                class="contact-tab-0 nav-link"
                [ngClass]="data.title ? 'active show' : ''"
                id="v-pills-user-tab"
                style="cursor: pointer"
                role="tab"
                (click)="getDataForDetails(data.projectUid)"
                (contextmenu)="contextMenu($event, data.projectUid)"
                aria-controls="v-pills-user"
                aria-selected="true">
                <div class="col-md-12 d-flex">
                  <img
                    class="b-r-8 img-80"
                    src="{{getBookCover(data)}}"
                    alt />
                  <div class="col-sm-4 flex-grow-1" style="margin-left: 10px">
                    <h4>
                      <span class="first_name_0">{{ data.title }} </span>
                    </h4>
                    <h6>
                      <span class="first_name_0">{{ data.subtitle }} </span>
                    </h6>
                    <p class="email_add_0">by: Pen Name</p>
                  </div>

                  <!--div class="col-sm-8 list-persons">
                    <ul style="margin-right:10px">
                      <li
                        class="btn fixed-btn-width badge-{{badgeColor(data, 'title')}}">
                        <span
                          class="badge rounded-circle btn-p-space badge-light text-dark ms-2">
                          <app-feather-icons
                            [icon]="checkOrCircle(data, 'title')">
                          </app-feather-icons></span>Title</li>
                      <li
                        class="btn fixed-btn-width badge-{{badgeColor(data, 'toc')}}"><span
                          class="badge rounded-circle btn-p-space badge-light text-dark ms-2">
                          <app-feather-icons
                            [icon]="checkOrCircle(data, 'toc')">
                          </app-feather-icons></span>ToC
                      </li>
                      <li
                        class="btn fixed-btn-width badge-{{badgeColor(data, 'abstract')}}"><span
                          class="badge rounded-circle btn-p-space badge-light text-dark ms-2">
                          <app-feather-icons
                            [icon]="checkOrCircle(data, 'abstract')">
                          </app-feather-icons></span>Synopsis</li>
                      <li
                        class="btn fixed-btn-width badge-{{badgeColor(data, 'manuscript')}}"><span
                          class="badge rounded-circle btn-p-space badge-light text-dark ms-2">
                          <app-feather-icons
                            [icon]="checkOrCircle(data, 'manuscript')">
                          </app-feather-icons></span>Manuscript</li>
                    </ul>

                  </div-->
                </div>
              </a>
            </div>

          </ng-container>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="job-pagination">
  <nav aria-label="Page navigation example">
    <ul class="pagination pagination-primary">
      <li class="page-item" [class.disabled]="currentPage == 1">
        <a class="page-link" (click)="gotoPage(currentPage - 1)">Previous</a>
      </li>
      <li class="page-item" [class.active]="currentPage == thispage">
        <a class="page-link" (click)="gotoPage(thispage)">{{ thispage }}</a>
      </li>
      <li
        class="page-item"
        *ngIf="nextpage <= lastpage"
        [class.active]="currentPage == nextpage">
        <a class="page-link" (click)="gotoPage(nextpage)">{{ nextpage }}</a>
      </li>
      <li
        class="page-item"
        *ngIf="pageafternext <= lastpage"
        [class.active]="currentPage == pageafternext">
        <a class="page-link" (click)="gotoPage(pageafternext)">{{
          pageafternext
          }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage == lastpage">
        <a class="page-link" (click)="gotoPage(currentPage + 1)">Next</a>
      </li>
    </ul>
  </nav>
</div>

<div *ngIf="selectedata" class="col-xl-12">
  <app-details [selectedata]="selectedata"></app-details>
</div>
