<div class="card">
    <div class="card-header card-no-border pb-0 rating-header">
        <h3>{{scorelabel}}</h3>
    </div>
    <div class="card-body">
        <div class="rating-container digits">
            <div class="br-wrapper br-theme-bars-1to10">
                <bar-rating class="bar" effect [(rate)]="faRate" [max]="20"
                    [theme]="'horizontal'" [showText]="true"
                    (hover)="onChange($event)"></bar-rating>
            </div>
        </div>
    </div>
</div>