
<div class="card">
    <div class="card-header card-no-border pb-0">
        <h3>piQues Depths - Number of times readers selected your
            content</h3>
    </div>
    <div class="card-body">
        <div id="basic-bar">
            <apx-chart #barchart
                [chart]="basicBarChart.chart!"
                [plotOptions]="basicBarChart.plotOptions!"
                [dataLabels]="basicBarChart.dataLabels!"
                [series]="basicBarChart.series!"
                [xaxis]="basicBarChart.xaxis!"
                [colors]="basicBarChart.colors!">
            </apx-chart>
        </div>
    </div>
</div>