<div class="container-fluid">
  <div class="row project-cards">
    <div class="col-md-12 project-list">
      <div class="card">
        <div class="row">
          <div class="col-md-6">
            <ul class="nav nav-tabs border-tab" id="top-tab" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link"
                  [ngClass]="{ 'active show': openTab == 'All' }"
                  (click)="tabbed('All')"
                  style="cursor: pointer"><app-feather-icons
                    [icon]="'target'"></app-feather-icons>All</a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [ngClass]="{ 'active show': openTab == 'Title' }"
                  (click)="tabbed('Title')"
                  style="cursor: pointer"><app-feather-icons
                    [icon]="'target'"></app-feather-icons>Title</a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [ngClass]="{ 'active show': openTab == 'ToC' }"
                  (click)="tabbed('ToC')"
                  style="cursor: pointer"><app-feather-icons
                    [icon]="'check-circle'"></app-feather-icons>ToC</a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [ngClass]="{ 'active show': openTab == 'Synopsis' }"
                  (click)="tabbed('Synopsis')"
                  style="cursor: pointer"><app-feather-icons
                    [icon]="'info'"></app-feather-icons>Synopsis</a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [ngClass]="{ 'active show': openTab == 'Manuscript' }"
                  (click)="tabbed('Manuscript')"
                  style="cursor: pointer"><app-feather-icons
                    [icon]="'info'"></app-feather-icons>Manuscript</a>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <div class="form-group mb-0 me-0"></div>
            <a class="btn btn-primary" routerLink="/crowdagent/piquetitle">
              <i data-feather="plus-square"> </i>Get More PiQues</a>
          </div>
        </div>
      </div>
    </div>

    <app-rating-histogram
      *ngIf="showTheGraph" [histogram]="histogram!">
    </app-rating-histogram>

    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane fade show active">
              <div class="row">
                <ng-container *ngFor="let data of filterData">
                  <div class="col-xxl-4 col-lg-4 box-col-33 col-md-6"
                    (click)="showHistogram(data.projectUid!)">
                    <div class="project-box">
                      <span
                        class="badge"
                        [ngClass]="
                          level(data.projectUid!) === 'manuscript'
                            ? ' badge-primary'
                            : 'badge-success'
                        ">Level Reviewed : {{ level(data.projectUid!) }}</span>
                      <h4>Project : {{ data.projectname }}</h4>
                      <h3>{{ data.title }}</h3>
                      <div class="d-flex">
                        <img
                          class="img-20 me-1 rounded-circle"
                          src="assets/images/user/3.jpg" />
                        <div class="flex-grow-1">
                          <p>{{ data.subtitle }}</p>
                        </div>
                      </div>
                      <div class="row details">
                        <div class="col-4">
                          <span>{{ data.readership }}</span>
                        </div>
                        <div class="col-4">
                          <span>{{ data.format }}</span>
                        </div>
                        <div class="col-4">
                          <span>{{ data.genre }}</span>
                        </div>
                      </div>

                      <div class="row details">

                        <div class="col-8">
                          <span> </span>
                        </div>
                        <div
                          class="col-4"
                          [ngClass]="
                            level(data.projectUid!) === 'manuscript'
                              ? ' font-primary'
                              : 'font-success'
                          ">
                          piQues
                        </div>

                        <div class="col-8">
                          <span>Crowd Impressions </span>
                        </div>
                        <div
                          class="col-4"
                          [ngClass]="
                            level(data.projectUid!) === 'manuscript'
                              ? ' font-primary'
                              : 'font-success'
                          ">
                          {{ data.scoreI }}
                        </div>

                        <div class="col-8">
                          <span>Crowd Title Selected</span>
                        </div>
                        <div
                          class="col-4"
                          [ngClass]="
                            level(data.projectUid!) === 'manuscript'
                              ? ' font-primary'
                              : 'font-success'
                          ">
                          {{ data.scoreT }}
                        </div>

                        <div class="col-8"><span>Crowd Table Contents
                            Reviewed</span></div>
                        <div
                          class="col-4"
                          [ngClass]="
                            level(data.projectUid!) === 'manuscript'
                              ? ' font-primary'
                              : 'font-success'
                          ">
                          {{ data.scoreC }}
                        </div>

                        <div class="col-8"><span>Crowd Synopsis
                            Reviewed</span></div>
                        <div
                          class="col-4"
                          [ngClass]="
                            level(data.projectUid!) === 'manuscript'
                              ? ' font-primary'
                              : 'font-success'
                          ">
                          {{ data.scoreA }}
                        </div>

                        <div class="col-8"><span>Crowd Manuscript Ratings
                          </span></div>
                        <div
                          class="col-4"
                          [ngClass]="
                            level(data.projectUid!) === 'manuscript'
                              ? ' font-primary'
                              : 'font-success'
                          ">
                          {{ data.scoreM }}
                        </div>

                        <div class="col-8"><span>Your Personal Rating
                          </span></div>
                        <div
                          class="col-4">
                          {{yourPersonalRating(data.projectUid!)}}
                        </div>

                        <div class="col-8"><span>Your Prediction of Crowd's
                            Rating
                          </span></div>
                        <div
                          class="col-4">
                          {{yourPredictedRating(data.projectUid!)}}
                        </div>

                        <div class="col-8"><span>Your Total Pique Allocation
                          </span></div>
                        <div
                          class="col-4">
                          {{ yourBet(data.projectUid!)}}
                        </div>

                      </div>
                      <!--div *ngIf="level(data.projectUid!) === 'manuscript'">
                        <div class="d-flex justify-content-center gap-4">
                          <button class="btn btn-lg btn-success"
                            (click)="showHistogram(data.projectUid!)">{{histogramLabel}}
                          </button>
                        </div>
                      </div-->
                      <!--div style="margin-top:10px">
                        <label>{{level(data.projectUid!)}} :</label>
                        <a *ngIf="data.abstracturl != ''"
                          href="{{ data.abstracturl }}" target="_blank">
                          {{ data.abstracturl | truncate : 20 }}
                        </a>
                      </div-->
                      <!--div class="project-status mt-4">
                        <div class="d-flex mb-0">
                          <p>{{ data.scoreM }}</p>
                          <div class="flex-grow-1 text-end">
                            <span>Done</span>
                          </div>
                        </div>
                        <div class="progress" style="height: 5px">
                          <div
                            class="progress-bar-animated bg-primary progress-bar-striped"
                            [ngClass]="
                              data.status === 'Draft'
                                ? ' badge-primary'
                                : 'badge-success'
                            "
                            role="progressbar"
                            [style.width]="data.scoreM"
                            aria-valuenow="10"
                            aria-valuemin="0"
                            aria-valuemax="100"></div>
                        </div>
                      </div-->
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
