
<div class="container-fluid default-dashboard">
    <div class="row">
        <div class="col-xl-6 col-sm-12 box-col-5">
            <app-profile-gretting [greeting]="greeting"></app-profile-gretting>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 col-sm-12 col-lg-4 col-md-12 box-col-4">
            <app-common-details [data]="totalReaders"></app-common-details>
        </div>
        <div class="col-xl-4 col-sm-12 col-lg-4 col-md-12 box-col-4">
            <app-common-details [data]="totalAuthors"></app-common-details>
        </div>
        <div class="col-xl-4 col-sm-12 col-lg-4 col-md-6 box-col-4">
            <app-common-details [data]="totalBooks"></app-common-details>
        </div>
        <div class="col-xl-4 col-sm-12 col-lg-4 col-md-6 box-col-4">
            <app-common-details [data]="totalLitAgents"></app-common-details>
        </div>
        <div class="col-xl-4 col-sm-12 col-lg-4 col-md-6 box-col-4">
            <app-common-details [data]="totalPublishers"></app-common-details>
        </div>
        <div class="col-xl-4 col-sm-12 col-lg-4 col-md-6 box-col-4">
            <app-common-details [data]="totalFreelancers"></app-common-details>
        </div>
        <div class="col-xl-4 col-sm-12 col-lg-4 col-md-6 box-col-4">
            <app-common-details [data]="totalImpressions"></app-common-details>
        </div>
        <div class="col-xl-4 col-sm-12 col-lg-4 col-md-6 box-col-4">
            <app-common-details [data]="totalPiques"></app-common-details>
        </div>
        <div class="col-xl-4 col-sm-12 col-lg-4 col-md-6 box-col-4">
            <app-common-details [data]="totalRatings"></app-common-details>
        </div>
    </div>
</div>