<div *ngIf="myprofile">
  <div class="card">
    <div class="card-header card-no-border pb-0">
      <h3 class="card-title mb-0">User Profile</h3>
      <div class="card-options">
        <a
          class="card-options-collapse"
          href="javascript:void(0)"
          data-bs-toggle="card-collapse">
          <i class="fe fe-chevron-up"></i>
        </a>
        <a
          class="card-options-remove"
          href="javascript:void(0)"
          data-bs-toggle="card-remove">
          <i class="fe fe-x"></i>
        </a>
      </div>
    </div>
    <div class="card-body">

      <div class="row">
        <div class="col-sm-6 col-md-6">
          <div class="mb-3">
            <label class="form-label">First Name:
              {{myprofile.firstname}}</label>
          </div>
        </div>

        <div class="col-sm-6 col-md-6">
          <div class="mb-3">
            <label class="form-label">Last Name: {{myprofile.lastname}}
            </label>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Email Address: {{myprofile.email}}</label>
      </div>

      <div class="mb-3">
        <label class="form-label">Phone Number: {{ myprofile.phone |
          phone}} </label>
      </div>

    </div>
  </div>
</div>
