<p>pique-titles-data-table works!</p>
<table class="table display" id="title-piques" style="width:100%">
    <thead>
        <tr>
            <th>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value>
                    <label class="form-check-label"
                        for="flexCheckDefault"></label>
                </div>
            </th>
            <th scope="col" sortable="title" (sort)="onSort($event)"
                style="cursor: pointer;">Title</th>
            <th scope="col" sortable="subtitle" (sort)="onSort($event)"
                style="cursor: pointer;">Subtitle</th>
            <th scope="col" sortable="score" (sort)="onSort($event)"
                style="cursor: pointer;">Score</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let title of titles$ | async; let i=index">
            <td>
                <div class="form-check">
                    <input class="form-check-input" id="flexCheckDefault"
                        type="checkbox" value>
                    <label class="form-check-label"
                        for="flexCheckDefault"></label>
                </div>
            </td>
            <td>
                <div class="d-flex align-items-center">
                    <div class="flex-shrink-0"><img class="img-50"
                            src={{title.img}}>
                    </div>
                    <div class="flex-grow-1 ms-2"><a
                            [routerLink]="['/ecommerce/product-page']">
                            <h5>{{title.title}}</h5>
                        </a></div>
                </div>
            </td>
            <td><b>{{title.subtitle}}</b></td>
            <td><b>
                    <p><i
                            class="fa fa-star font-warning"></i>{{title.score}}</p>
                </b></td>
            <td class="text-center">
                <span class="edit-option">
                    <a href="javascript:void(0)">
                        <app-feather-icons
                            [icon]="'arrow-left-circle'">
                        </app-feather-icons>
                        <!-- <i data-feather="edit"></i> -->
                    </a>
                </span>
                <span class="move-option">
                    <a href="javascript:void(0)" (click)="moveItem(title.id)">
                        <i class="move" data-feather="arrow-up-circle"></i>
                    </a>
                </span>
                <span class="delete-option">
                    <a href="javascript:void(0)" (click)="removeItem(title.id)">
                        <i class="remove" data-feather="trash-2"></i>
                    </a>
                </span>
            </td>
        </tr>
    </tbody>
</table>