<div>
  <a
    class="btn btn-primary email-aside-toggle md-sidebar-toggle b-r-10"
    (click)="openFilter()"
    >Title Filters</a
  >
</div>
<div class="md-sidebar">
  <div class="md-sidebar-aside job-sidebar" [class.visibility]="OpenFilter">
    <div class="default-according style-1 faq-accordion job-accordion">
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button
                class="btn btn-link btn-block text-start"
                (click)="collapse.toggle()"
                [attr.aria-expanded]="!isCollapsed"
                aria-controls="collapseExample"
              >
                Filter
              </button>
            </h2>
          </div>
          <div
            class="collapse show"
            id="collapseOne"
            #collapse="ngbCollapse"
            [(ngbCollapse)]="isCollapsed"
          >
            <div class="card-body filter-cards-view animate-chk">
              <div class="job-filter mb-2">
                <div class="faq-form">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Search.."
                    [(ngModel)]="searchPattern"
                  /><i class="search-icon" data-feather="search"></i>
                </div>
              </div>
              <div class="checkbox-animated">
                <label
                  *ngFor="let allData of filterChackBox"
                  class="d-block"
                  for="{{ allData.id }}"
                >
                  <input
                    class="checkbox_animated"
                    id="{{ allData.id }}"
                    type="checkbox"
                    (click)="selectSearchBy(allData.label)"
                  />
                  {{ allData.label }}
                </label>
              </div>
              <button
                class="btn btn-primary text-center"
                type="button"
                (click)="searchTitles()"
              >
                Search Titles
              </button>
            </div>
          </div>
        </div>

        <div class="dropdown">
          <button
            class="btn btn-primary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            Category
          </button>
          <div class="dropdown show">
            <a
              class="btn btn-primary dropdown-toggle"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Category
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item">Fiction</a></li>
              <li><a class="dropdown-item">NonFiction</a></li>
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#">Arts</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item">History</a></li>
                  <li><a class="dropdown-item">Geography</a></li>
                  <li><a class="dropdown-item">Sociology</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button
                class="btn btn-link btn-block text-start collapsed"
                type="button"
                (click)="collapse.toggle()"
                [attr.aria-expanded]="true"
              >
                Genre
              </button>
            </h2>
          </div>

          <!--div *ngFor="let allData of filterData" class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button
                class="btn btn-link btn-block text-start collapsed"
                type="button"
                (click)="collapse.toggle()"
                [attr.aria-expanded]="!allData.isCollapsed"
              >
                {{ allData.t }}
              </button>
            </h2>
          </div>
          <div
            class="collapse show"
            id="collapseTwo"
            #collapse="ngbCollapse"
            [(ngbCollapse)]="isCollapsed"
          >
            <div class="card-body animate-chk">
              <div class="location-checkbox">
                <label
                  *ngFor="let data of allData.checkBoxs"
                  class="d-block"
                  for="chk-ani6"
                >
                  <input
                    class="checkbox_animated"
                    id="chk-ani6"
                    type="checkbox"
                  />{{ data.checkTitle
                  }}<span class="d-block">{{ data.subTitle }}</span>
                </label>
              </div>
            </div>
            <button class="btn btn-block btn-primary text-center" type="button">
              {{ allData.button }}
            </button>
          </div>
        </div-->
        </div>
      </div>
    </div>
  </div>
</div>
