<!--div class="modal-toggle-wrapper social-profile text-start dark-sign-up"-->
<div class="modal-body">
  <h3 class="py-2 modal-title text-center">Manuscript Score</h3>
  <div class="modal-body">
    <app-number-rating #personalRating
      scorelabel="How do you rate this book?"
      [ratingLegend]="ratingsLegend"
      (hover)="onHover($event)"></app-number-rating>
    <app-number-rating #ratingPrediction
      scorelabel="How do you predict the crowd will rate this book?"
      [ratingLegend]="ratingsLegend"
      (hover)="onHover($event)"></app-number-rating>
  </div>

  <div class="card">
    <div class="card-header card-no-border pb-0 rating-header">
      <h3>Rating a book reduces your piQue count by 20. Depedending on your
        confidence, you
        can increase the number of piQues you allocate to this project (max 20
        more piques) in order to receive a larger portion of the money pool."
        ></h3>
    </div>

    <div class="card-body common-flex">
      <div class="touchspin-wrapper">
        <button
          class="decrement-touchspin btn-touchspin touchspin-primary"
          style="margin-right: 4px;"
          (click)="decrement()"><i class="fa fa-minus">
          </i></button>
        <input class="input-touchspin spin-outline-primary"
          type="number" value="{{ bet }}" (change)="onBetChange($event)">
        <button
          class="increment-touchspin btn-touchspin touchspin-primary"
          style="margin-left: 4px;" (click)="increment()"><i
            class="fa fa-plus"> </i></button>
      </div>
    </div>
  </div>

  <h2 style="margin-bottom:10px">{{ratingDescription}}</h2>

  <button class="btn btn-lg btn-success" (click)="submit()">
    Submit Rating
  </button>
</div>
