<div class="modal-header">
  <div class="large-modal-header">
    <app-feather-icons [icon]="'chevrons-right'"></app-feather-icons>
    <h1 class="modal-title fs-5" id="exampleModalLabel">{{ title }}</h1>
  </div>
  <button class="btn-close" type="button" (click)="close()"></button>
</div>
<div class="modal-body dark-modal">
  <ng-container>
    <div class="d-flex mt-3">
      <div class="flex-shrink-0">
        <app-feather-icons
          [icon]="'arrow-right-circle'"
          [class]="'svg-modal'"
        ></app-feather-icons>
      </div>
      <div class="flex-grow-1 ms-2">
        <p>{{ content }}</p>
      </div>
    </div>
  </ng-container>
</div>
<div class="modal-footer">
  <button class="btn btn-secondary" type="button" (click)="close()">
    Close
  </button>
</div>
