<div class="row">
  <div class="card p-0 profile-greeting">
    <div class="card-body wadewarren">
      <div class="img-overlay">
        <h3 *ngIf="firstName" class="greeting">
          Good {{dayPart}}, {{firstName}}
        </h3>
        <h3 *ngIf="!firstName" class="greeting">Good {{dayPart}}</h3>
        <p>
          {{greeting}}
        </p>
      </div>
      <ul class="list-unstyled confetti">
        <li><img height="40" src="assets/images/book-gold.png" alt /></li>
        <li><img height="40" src="assets/images/book-gold.png" alt /></li>
        <li><img height="40" src="assets/images/book-gold.png" alt /></li>
        <li><img height="40" src="assets/images/book-gold.png" alt /></li>
        <li><img height="40" src="assets/images/book-gold.png" alt /></li>
        <li><img height="40" src="assets/images/book-gold.png" alt /></li>
        <li><img height="40" src="assets/images/book-gold.png" alt /></li>
      </ul>
    </div>
  </div>
</div>